.attribution {
    margin-top: 3rem;

    p {
        color: $darkBlue;

        a {
            color: $grayBlue;

            &:hover {
                color: $qr;
                transition: 0.3s ease;
            }
        }
    }
}